[submodule "libs/SDL3"]
	path = libs/SDL3
	url = https://github.com/libsdl-org/SDL
[submodule "libs/SDL3_image"]
	path = libs/SDL3_image
	url = https://github.com/libsdl-org/SDL_image
[submodule "libs/SDL3_mixer"]
	path = libs/SDL3_mixer
	url = https://github.com/libsdl-org/SDL_mixer
[submodule "libs/SDL3_ttf"]
	path = libs/SDL3_ttf
	url = https://github.com/libsdl-org/SDL_ttf
[submodule "libs/date"]
	path = libs/date
	url = https://github.com/HowardHinnant/date.git
[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "libs/Catch2"]
	path = libs/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "libs/pybind11"]
	path = libs/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = stable
